<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Cinema Theatre Website Template</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="../images/logo.png" alt=""></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="movies.html">Movies</a>
					<ul>
						<li>
							<a href="#">Now Showing</a>
						</li>
						<li>
							<a href="#">Comming Soon</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="ticket-info.html">Ticket Info</a>
				</li>
				<li>
					<a href="rentals.html">Rentals</a>
				</li>
				<li class="selected">
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="about">
		<h2>About</h2>
		<div>
			<div>
				<h4>The Company</h4>
				<img src="../images/cinema4.jpg" alt="">
				<h3>We Have Seats for Everyone</h3>
				<p>
					Let’s first settle this debate. It’s safe to say that the back is better. If you take the chance of sitting in the front row, your neck will probably start to feel sore looking directly up at a movie screen. You don’t want to ruin your movie-going experience with a bad neck.
				</p>
				<h3>We Have More Options for You</h3>
				<p>
					Okay, so now that we know we aren’t sitting all the way up front or in the way back, are we in the aisle or in the middle? Sure, you get the full screen in the middle, but you also might get “stuck” between groups of people who pile into the aisle seats next to you. What if middle seats are the only ones left? Do you climb across people to get to them? You might get a beer like these people did.
				</p>
				<h3>Be Part of Our Community</h3>
				<p>
					Our goal is to cater to smaller commercial and residential projects and also be able to deliver and excel for large-scale installations like sports stadiums, prestigious concert, and theater venues, university classrooms, and auditoriums. Each of the commercial movie theater seating styles shown here for sale has been carefully selected and tested to meet the highest standards of quality for industrial applications and also developed to be responsible to the environment.
				</p>
				<h3>Web Site details</h3>
				<p>
					Design by Team Tesla <br> using JAVA. <br><br>
				</p>
				<p>
					Website details, discussion and updates for this <a href="https://premkamalosipalli.github.io/">Cinema Theatre Team</a>.<br><br>
				</p>
				<p>
					Website Template design by <a href="https://premkamalosipalli.github.io/"> Tesla</a>.<br><br>
				</p>
				<p>
					Please feel free to remove some or all the text and links of this page and replace it with your own About content.
				</p>
			</div>
			<div>
				<h4>Contact</h4>
				<img src="../images/retro-telephone.jpg" alt=""> <span class="address">5201 Par Dr, Denton, Texas, USA, 76208</span> <span class="phone-num">214-930-7886</span> <span class="fax-num">214-930-7886</span> <span class="email">premkamalosipalli@gmail.com</span>
				<form action="welome.html">
					<label for="name"><span>Name *</span>
						<input type="text" id="name">
					</label>
					<label for="email"><span>Email *</span>
						<input type="text" id="email">
					</label>
					<label for="subject"><span>Subject</span>
						<input type="text" id="subject">
					</label>
					<label for="comment"><span class="comment">Comment</span>
						<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
					</label>
					<input type="submit" value="">
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="welcome.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="logIn.jsp">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="logIn.jsp">Coming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							No one is born hating another person because of the color of his skin or his background or his religion.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Kobe was a legend on the court and just getting started in what would have been just as meaningful a second act. To lose Gianna is even more heartbreaking to us as parents. 
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Enter your emailId to for any queries....
				</p>
				<form action="welcome.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="button" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Movie Booking
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="https://www.facebook.com/Kamal.Osipalli" id="facebook">FaceBook</a>
			<a href="https://www.instagram.com/premkamal.osipalli/" id="twitter">Twitter</a>
			<a href="https://www.linkedin.com/in/prem-kamal-osipalli-73ba65114/" id="googleplus">LinkedIn</a>
		</div>
		</div>
	</div>
</body>
</html>