<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog - Cinema Theater Website Template</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="../images/logo.png" alt=""></a>
			<ul>
				<li>
					<a href="welcome.html">Home</a>
				</li>
				<li>
					<a href="movies.html">Movies</a>
					<ul>
						<li>
							<a href="#">Now Showing</a>
						</li>
						<li>
							<a href="#">Comming Soon</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="ticket-info.html">Ticket Info</a>
				</li>
				<li>
					<a href="rentals.html">Rentals</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li class="selected">
					<a href="blog.html">Blog</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="blog-single">
		<div>
			<img src="../images/trainor3.jpg" alt="">
			<div>
				<h4>Blog Post TItle</h4>
				<span>Posted on August 8, 2023 by <a href="#">Admin</a> in <a href="blog-single-post.html">Category 1</a></span>
			</div>
			<p>
				Movie fans, unite! Whether you’re a fan of blockbuster hits or indie films, there are a handful of top-rated movie blogs that can keep you in-the-know. Many of the blogs focus on headline news and casting reveals, but there are some niche blogs that focus on specific kinds of movies or family-specific reviews.
			</p>
			<p>
				Most people have heard of IMBd. If you’ve ever wondered, ‘Who played Yoda?’ or ‘What movies has Sandra Bullock starred in?’, you’ve been to IMBd. The site offers profiles, cast lists, plot summaries, movie news, and reviews. Three million fans follow the site on Instagram for trailers like this one to “Marry Me” and exclusive interviews like this one with Kristen Bell. 
			</p>
			<div class="comment">
				<span>1 Comment</span>
				<p>
					<img src="../images/user.jpg" alt=""> <span>Jane Doe December 3, 2023 at 3:25 pm </span> Pellentesque nec tempor massa. Maecenas tortor elit, ultricies eget placerat ac, eleifend sit amet nunc. Praesent aliquam fermentum semper.
				</p>
				<a href="#">Reply</a> <span>Leave A Reply</span>
			</div>
			<form action="welcome.html" method="post">
				<div>
					<label for="name"><span>Name *</span>
						<input type="text" id="name">
					</label>
					<label for="email"><span>Email *</span>
						<input type="text" id="email">
					</label>
					<label for="website"><span>Website *</span>
						<input type="text" id="website">
					</label>
				</div>
				<div>
					<label for="comment">Comment</label>
					<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
					<input type="submit" value="">
				</div>
			</form>
		</div>
		<div>
			<div>
				<h4>Categories</h4>
				<ul>
					<li>
						<a href="#">Feature films.</a>
					</li>
					<li>
						<a href="#">Short films. </a>
					</li>
					<li>
						<a href="#">Animated films.</a>
					</li>
					<li>
						<a href="#">Film adaptations.</a>
					</li>
				</ul>
			</div>
			<div>
				<h4>Popular Blog Posts</h4>
				<ul>
					<li>
						<span>Posted on August 8, 2023 by Admin</span>
						<h5>MovieWeb</h5>
						<p>
							For all the updates on your favorite movies, MovieWeb is the place to go. Fans find information on casting and release dates along with trailers and clips of their favorite flicks. 
						</p>
						<a href="#">Read More</a>
					</li>
					<li>
						<span>Posted on August 8, 2023 by Admin</span>
						<h5>CinemaBlend</h5>
						<p>
							A popular entertainment site, CinemaBlend is all about movies, hit TV shows and the best hits to binge.
						</p>
						<a href="#">Read More</a>
					</li>
					<li>
						<span>Posted on August 8, 2023 by Admin</span>
						<h5>Rotten Tomatoes</h5>
						<p>
							Need a movie recommendation? Head to Rotten Tomatoes. It’s one of the oldest and most trusted online review sites for movies, with its start reaching back to 1998.
						</p>
						<a href="#">Read More</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="welcome.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="logIn.jsp">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="logIn.jsp">Coming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							No one is born hating another person because of the color of his skin or his background or his religion.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Kobe was a legend on the court and just getting started in what would have been just as meaningful a second act. To lose Gianna is even more heartbreaking to us as parents. 
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Enter your emailId to for any queries....
				</p>
				<form action="welcome.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="button" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Movie Booking
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="https://www.facebook.com/Kamal.Osipalli" id="facebook">FaceBook</a>
			<a href="https://www.instagram.com/premkamal.osipalli/" id="twitter">Twitter</a>
			<a href="https://www.linkedin.com/in/prem-kamal-osipalli-73ba65114/" id="googleplus">LinkedIn</a>
		</div>
		</div>
	</div>
</body>
</html>