<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Rentals</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="../images/logo.png" alt=""></a>
			<ul>
				<li>
					<a href="welcome.html">Home</a>
				</li>
				<li>
					<a href="logIn.jsp">Movies</a>
					<ul>
						<li>
							<a href="#">Now Showing</a>
						</li>
						<li>
							<a href="#">Comming Soon</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="ticket-info.html">Ticket Info</a>
				</li>
				<li class="selected">
					<a href="rentals.html">Rentals</a>
				</li>
				<li>
					<a href="logIn.jsp">Log In</a>
				</li>
				<li>
					<a href="signUp.jsp">Sign Up</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="rentals">
		<h2>Rentals</h2>
		<ul>
			<li>
				<a href="#"><img src="../images/conference2.jpg" alt=""></a>
				<h4>Conference Rooms</h4>
				<p>
					A conference room is a large room in a hotel where a number of people can have a conference. The conference room has eight seats and two tables. There are three conference rooms, each of which is equipped with a large screen for business presentations.
				</p>
				<h4>Inclusions:</h4>
				<span>1 long wooden table</span> <span>10 cushioned office chairs</span> <span>1 round of coffee with pastry per person</span>
				<h4>Rates:</h4>
				<span>$100 per 3 hours</span> <span>$25 per succeeding hour</span>
			</li>
			<li>
				<a href="#"><img src="../images/cinema3.jpg" alt=""></a>
				<h4>Conference Rooms</h4>
				<p>
					A conference room is a large room in a hotel where a number of people can have a conference. The conference room has eight seats and two tables. There are three conference rooms, each of which is equipped with a large screen for business presentations.
				</p>
				<h4>Inclusions:</h4>
				<span>Theatre with up to 300 seating</span> <span>Projector</span> <span>Surround sound system</span>
				<h4>Rates:</h4>
				z <span>$500 for 3 hours</span> <span>$200 per succeeding hour</span>
			</li>
			<li>
				<a href="#"><img src="../images/playing-chess.jpg" alt=""></a>
				<h4>Birthday Parties</h4>
				<p>
					The birthday is a time to celebrate and we all have different outlooks when it comes to celebrating birthdays. Some like to party outside, some prefer being at home and enjoy with family, some like to do get together with friends, and some want to party at home with close ones.
				</p>
				<h4>Inclusions:</h4>
				<span>50 seats and 5 round tables</span> <span>Sound system</span> <span>DJ</span> <span>Decorations</span>
				<h4>Rates:</h4>
				<span>$100 per 3 hours</span> <span>$25 per succeeding hour</span>
			</li>
			<li>
				<a href="#"><img src="../images/ballet-dancer3.jpg" alt=""></a>
				<h4>Plays</h4>
				<p>
					It’s thrilling to watch a performance live. New York is practically synonymous with theater, and from Broadway to Off Broadway to Off-Off Broadway, there are countless opportunities to see top-notch dramatic works. Of the countless shows that have been produced since the dawn of performance, it’s nearly impossible to choose the best plays. But we’ve done just that with our list of the best plays of all time.
				</p>
				<h4>Inclusions:</h4>
				<span>Theatre with up to 300 seating</span> <span>Projector</span> <span>Surround sound system</span>
				<h4>Rates:</h4>
				<span>$500 for 3 hours</span> <span>$200 per succeeding hour</span>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="welcome.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="logIn.jsp">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="logIn.jsp">Coming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							No one is born hating another person because of the color of his skin or his background or his religion.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Kobe was a legend on the court and just getting started in what would have been just as meaningful a second act. To lose Gianna is even more heartbreaking to us as parents. 
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Enter your emailId to for any queries....
				</p>
				<form action="welcome.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="button" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Movie Booking
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="https://www.facebook.com/Kamal.Osipalli" id="facebook">FaceBook</a>
			<a href="https://www.instagram.com/premkamal.osipalli/" id="twitter">Twitter</a>
			<a href="https://www.linkedin.com/in/prem-kamal-osipalli-73ba65114/" id="googleplus">LinkedIn</a>
		</div>
		</div>
	</div>
</body>
</html>