<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ticket Info</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="index.html" id="logo"><img src="../images/logo.png" alt=""></a>
			<ul>
				<li>
					<a href="welcome.html">Home</a>
				</li>
				<li>
					<a href="movies.html">Movies</a>
					<ul>
						<li>
							<a href="#">Now Showing</a>
						</li>
						<li>
							<a href="#">Comming Soon</a>
						</li>
					</ul>
				</li>
				<li class="selected">
					<a href="ticket-info.html">Ticket Info</a>
				</li>
				<li>
					<a href="rentals.html">Rentals</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="body" class="ticket-info">
		<h2>Ticket Info</h2>
		<div class="section">
			<div class="first">
				<h3>Ticket Pricing</h3>
				<span>Premiere: <span>$7</span></span> <span>Deluxe: <span>$4</span></span> <span>3D Cinema: <span>$10</span></span> <span>Senior Citizens: <span>10% off</span></span> <span>Children below 7 years: <span>50% off</span></span>
			</div>
			<div class="second">
				<h3>Ticket Promos</h3>
				<h4>From August 10 - 12. Buy 1 take 1 ticket for the first 100 customers!</h4>
			</div>
			<div class="last">
				<h3>How To buy A Ticket</h3>
				<div>
					<span>1</span>
					<div>
						<p>
							If you are a first time user try to sign up first before login and then you can view the movies based on your interested genre.
						</p>
					</div>
				</div>
				<div>
					<span>2</span>
					<div>
						<p>
							After selecting your genre you can view the list of movie available in that genre and select the interested movie and you can view the description of that movie.
						</p>
					</div>
				</div>
				<div>
					<span>3</span>
					<div>
						<p>
							Select no of tickets you want to purchase and then you can pay and you will get the confirmation Email.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article">
			<h3>Rules and Regulations</h3>
			<ol>
				<li>
					<p>
						This should be simple, but it is apparently not. The movie theater is not the place for you to be texting or scrolling through Facebook during the movie.
					</p>
				</li>
				<li>
					<p>
						Closely tied to the issue of smartphones in movie theaters are the peripherals that some people are wearing now. Look, I think it’s great that technology is bringing us closer to a world where the stuff we saw in Star Trek is becoming more and more a reality, but that smartwatch has got to go in the movie theater, buddy.
					</p>
				</li>
				<li>
					<p>
						I shouldn’t have to explain this one, but clearly, I do. I can deal with the occasional whisper to a friend during a movie. I do that myself. But I actually whisper. I’ve discovered that there are two types of people in this world: people who can whisper and those who think they’re whispering. Some people just can’t whisper.
					</p>
				</li>
				<li>
					<p>
						Just this past Friday I walked into a movie theater to see Ocean’s 8 and discovered that people from the previous showtime had left their soda bottles and candy wrappers in the armrest holders in the aisle I was sitting in.
					</p>
				</li>
			</ol>
		</div>
		<div class="news">
			<h3>Become A Member And Earn Discount points</h3>
			<img src="images/cinema2.jpg" alt="">
			<ol>
				<li>
					<p>
						MegaPass subscribers get two free movie tickets every month. Additional features include 15% off concession purchases and the PlusOne Perk, which provides $1 discounts for up to six tickets per order.
					</p>
				</li>
				<li>
					<p>
						The tickets can be used for any format, including IMAX, Dolby Atmos, 3D and Megaplex’s Luxury theaters. Some movie events are excluded — including movie marathons, double features, fan events and FATHOM events.
					</p>
				</li>
				<li>
					<p>
						This is the monthly membership program for ShowPlace ICON Theaters. Extra Plus subscribers get one free movie ticket every month and any unused tickets can be rolled over to the following month.
					</p>
				</li>
			</ol>
			<a href="#">Download</a>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="welcome.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="logIn.jsp">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="logIn.jsp">Coming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							No one is born hating another person because of the color of his skin or his background or his religion.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Kobe was a legend on the court and just getting started in what would have been just as meaningful a second act. To lose Gianna is even more heartbreaking to us as parents. 
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Enter your emailId to for any queries....
				</p>
				<form action="welcome.html">
					<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="button" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Movie Booking
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="https://www.facebook.com/Kamal.Osipalli" id="facebook">FaceBook</a>
			<a href="https://www.instagram.com/premkamal.osipalli/" id="twitter">Twitter</a>
			<a href="https://www.linkedin.com/in/prem-kamal-osipalli-73ba65114/" id="googleplus">LinkedIn</a>
		</div>
		</div>
	</div>
</body>
</html>