<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link href="css/stylesheet.css" rel="stylesheet" />
</head>
<body class="welcomebody">
	<h1 align="center">Movie Booking Web site</h1>
	<div align="right">
		<table>
			<tr>
				<td><a id="welcomeinput" href="view/logIn.jsp">Log In</a></td>
				<td><a id="welcomeinput" href="view/signUp.jsp">Create an
						Account</a></td>
			</tr>
		</table>
	</div>
	<div>
		<footer class="footer">
			<p>Posted by: Prem Kamal Osipalli</p>
			<p>
				Contact information: <a href="mailto:premkamalosipalli@gmail.com">premkamalosipalli@gmail.com</a>.
			</p>
			<p>
				<i>Note:</i> Horror Movies are Strictly Prohibited to age holders
				below 18 years.
			</p>
		</footer>
	</div>
</body>
</html>